spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 15MB

  application:
    name: ${DOMAIN_NAME}

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_ADDRESS}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  config:
    import: env.yml

logging:
  level:
    com.ssafy.share: DEBUG

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}

member-default-profile-image: ${MEMBER_DEFAULT_IMAGE}
cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket: ${S3_BUCKET}
    region:
      static: ap-northeast-2
    stack:
      auto: false

metamask:
  WALLET_ADDRESS: "0x015093bAf428F1813Dc02dEFEf8c93A95e9CA769" # 지갑 주소
  CONTRACT_ADDRESS: "0xe21dD501e12b23b6929D88E1FE62405739AC24d2" # 통신할 스마트컨트랙트 주소
  PRIVATE_KEY: "3e3411017c28c00d47bbfc21550c5f99a240ba6ba54e0d4002587ed6a3b57297" # 지갑 private key

ethereum:
  server:
    ip: localhost
    port: 8545
  contract:
    address: "0x1e0de843cf81303fde693018bd25e6626db90f50"
