spring:
  cloud:
    gateway:
      routes:
        - id: member-example
          uri: lb://MEMBER-EXAMPLE/
          predicates:
            - Path=/member-example/**
          filters:
            - RewritePath=/member-example/(?<path>.*),/$\{path}
        - id: recipe
          uri: lb://RECIPE/
          predicates:
            - Path=/recipe/**
          filters:
            - RewritePath=/recipe/(?<path>.*),/$\{path}
        - id: member-manage
          uri: lb://MEMBER-MANAGE/
          predicates:
            - Path=/member-manage/**
          filters:
            - RewritePath=/member-manage/(?<path>.*),/$\{path}
        - id: house-ingredient
          uri: lb://HOUSE-INGREDIENT/
          predicates:
            - Path=/house-ingredient/**
          filters:
            - RewritePath=/house-ingredient/(?<path>.*),/$\{path}
        - id: ingredient-manage
          uri: lb://INGREDIENT-MANAGE/
          predicates:
            - Path=/ingredient-manage/**
          filters:
            - RewritePath=/ingredient-manage/(?<path>.*),/$\{path}
        - id: address-autocomplete
          uri: lb://ADDRESS-AUTOCOMPLETE/
          predicates:
            - Path=/address-autocomplete/**
          filters:
            - RewritePath=/address-autocomplete/(?<path>.*),/$\{path}
        - id: ingredient-extract
          uri: lb://INGREDIENT-EXTRACT/
          predicates:
            - Path=/ingredient-extract/**
          filters:
            - RewritePath=/ingredient-extract/(?<path>.*),/$\{path}
        - id: share
          uri: lb://SHARE/
          predicates:
            - Path=/share/**
          filters:
            - RewritePath=/share/(?<path>.*),/$\{path}

        


